body {
	background-color: #C51929;
	margin: 0;
	font-family: verdana;
	line-height: 20px;
	font-size: 14px;
	color: #ffffff;
	overflow-y: scroll;
}

a {
	color: #ffcc00;
}

#container {
	max-width: 780px;
	margin: 0 auto;
	background: #e01d2f;
}

#contact {
	margin: 3em;
	float: left;
}

#gallery {
	margin: 3em 3em 3em 0;
	overflow: hidden;
	float: right;
}

#gallery-inner {
	width: 100%;
}

#gallery div {
	display: block;
}

#gallery div.single {
	margin: 0 auto;
	width: 50%;
}

#offer {
	margin: 0 3em;
}

#secondGallery {
	margin: 3em 3em 0;
}

h1 {
	margin: 0;
	padding: 0;
	display: block;
}

h1 img {
	width: 100%;
	height: auto;
}

.clearfix:before, .clearfix:after {
	content:"";
	display: table;
}
.clearfix:after {
	clear: both;
}

