body {
	background-color: #C51929;
	margin: 0;
	font-family: verdana;
	line-height: 20px;
	font-size: 14px;
	color: #ffffff;
}

a {
	color: #ffcc00;
}

#container {
	max-width: 780px;
	margin: 0 auto;
	background: #e01d2f;
}

#contact {
	margin-left: 3em;
	margin-top: 3em;
}

h1 {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 129px; /* TODO: rwd */
	background-image: url("imgs/head.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

h1 span {
	display: none;
}

